.card__container {
  //   width: 320px;
  //     background:black;

  &:hover .card__content {
    // transform: rotateY(0.5turn);
    // transform: rotateY(180deg);
  }

  .card__content {
    width: 320px;
    position: relative;
    padding: 5rem;
    background: pink;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;

    .card__front {
      //   background-color: red;
      //   transform: rotateY(0.25turn);
      //   transform: rotateY(90deg);

    }
    .card__back {
      //   background-color: brown;
      transform: rotateY(0.5turn);
    }
  }
}

.flipCard{
    transform: rotateY(0.5turn);

}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
