@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

body {
  background-color: #39664e;
  /* overflow: hidden; */
  
}
body::-webkit-scrollbar {
    width: 6px; /* Adjust as needed */
  }
.header {
  & h1 {
    font-family: "Amatic SC", cursive;
    font-size: 72px;
  }
}
.parent_cards {
  width: 800px;
  .question_card {
    box-shadow: 10px 10px 10px 0 rgba(59, 55, 110, 0.904);
  }
  .card_icon {
    cursor: pointer;
  }
}
