@import "../../sass/variable";
@import "../../sass/mixin.scss";

.Navbar {
  background-color: $navbarBg;
  @include flexMix(space-between, center);

  img {
    margin-left: 20px;
    height: 100px;
    width: 100px;
  }
  ul {
    @include flexMix(space-between, center);
    li {
      list-style-type: none;
      padding: 1rem;
      a{
        color: black;
        font-size: 25px;
        font-weight: 600;
        text-decoration: none;
        padding: .5rem;
        border-radius: 10px;
        transition: all ease 0.5s 0s;
        &:hover{
            color: $navbarBg;
            background-color: black;

        }
      }
    }
  }
}
